* {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

html,
body {
    max-width: 380px;
}


html,
body,
header,
main,
aside,
footer,
section,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headerGrid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
}

#headerGrid img {
    padding: 5px;
    width: 55px;
    height: 65px;
    margin: 7px;
    border: 2px solid black;
    border-radius: 45px;
}

#headerGrid #Logo {
    width: 65px;
    height: 65px;
    margin: 7px;
    border-radius: initial;
    border: none;
}

#SearchBar {
    border: 2px solid black;
    border-radius: 25px;
    margin: 3px 20px 3px 20px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    width: 82%;
}

header {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

#mainNav {
    padding-top: 15px;
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

#mainNav div {
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px;
    width: 100px;
    height: 35px;
}

#mainNav div p {
    text-align: center;
    margin: auto;
    font-size: x-large;
}

main {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

#mainMain {
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

#mainMain a div img {
    width: 165px;
    height: 165px;
    border: 2px solid black;
    border-radius: 20px;
}

#mainMain a div p {
    color: black;
    margin-top: 0px;
}

footer {
    background-color: silver;
    z-index: -1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px 35px 20px 35px;
}

#productMain {
    margin-top: 3px;

}

.ProductContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    border-top: 1px black solid;

}

.ProductContainer img {
    width: 90px;
    height: 90px;
    margin: auto;
}

.ProductContainer:last-of-type {
    border-bottom: 1px black solid;
}

.rating img {
    margin-top: 15px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
}

.rating {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}

#prodDescription {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
}

#prodDescription p {
    margin-right: 10px;
}

#PurchaseButton {
    display: grid;
    margin: 40px 10px 40px 10px;

}

#PurchaseButton button {
    background-color: rgb(0, 88, 163);
    cursor: pointer;
    border-radius: 35px;

}

#PurchaseButton p {
    color: white;
    font-size: 20px;
}

#ProductExtraInfo {
    display: grid;
}

#ProductExtraInfo div {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
}

.PurchaseOptions {
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 30px 20px 30px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    cursor: pointer;
    background-color: rgb(0, 88, 163);
    color: white;
}


.PurchaseOptions img {
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-left: 50px;
}

.PurchaseOptions p {
    width: 120px;
}

#Product-Detail {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}

#Product-Detail img {
    width: 90px;
    height: 90px;
    margin: 10px 20px 10px 0px;
}

#Product-Detail p {
    margin-right: 20px;
    margin-top: 8px;
}

#ammount {
    grid-column: 2;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    margin: auto;
    padding-left: 20px;
    height: 10px;
    padding-bottom: 60px;
}

#ammount :nth-child(odd) {
    border: 1px black solid;
    border-radius: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
}

#Other {
    display: grid;
    text-align: center;
    border-top: 1px solid black;
}

#DeliveryContainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border-top: 1px black solid;
}

#DeliveryContainer :nth-child(1) {
    width: 210px;
}

#DeliveryContainer :nth-child(2) {
    text-decoration: underline;
    text-align: right;
}

.label {
    display: grid;
    border: 1px solid black;
    margin: 25px;

}

.label :nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.label :nth-child(2) p:first-of-type {
    width: 220px;
}

.label :nth-child(2) p:last-of-type {
    text-decoration: underline;
    margin-right: 15px;
}

.choice {
    display: grid;
    grid-template-columns: 0.4fr 0.5fr 2fr;
    border-bottom: 1px solid black;
    height: 40px;
}

.choice input {
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

.choice img {
    width: 30px;
    height: 30px;
    margin-top: 4px;
}

.choice label {
    display: grid;
    grid-template-columns: auto auto;
}

.choice p {
    font-size: larger;
    margin-top: 7px;
}

#ShippingForm {
    border-top: 1px solid black;
    margin: 10px;
    display: grid;
}

#ShippingForm a {
    margin: auto;
}

#continue {
    background-color: rgb(0, 88, 163);
    cursor: pointer;
    width: 300px;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    align-self: center;
    margin-top: 20px;
    padding: 10px;
}

#shippMain {
    border: none;
}

#price {
    text-decoration: underline;
}

#paymentForm {
    margin: 10px;
    display: grid;
}

#PaymenyDiv {
    display: grid;
    grid-template-rows: auto auto;
    margin: 5px;
}

#CV {
    grid-column: 2;
    width: 90px;
}

#paymentForm a {
    margin: auto;
}

#Popup {
    position: fixed;
    bottom: 0px;
    width: 374px;
    padding-bottom: 400px;
    background-color: white;
    height: fit-content;
    border-top: black 1px solid;
    padding-top: 5px;
}

#popupGrid {
    display: grid;
    grid-template-columns: auto auto;

}

.Hide {
    display: none;
}

#popupGrid {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#hell {
    margin: auto;
}

#Close {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    width: 20px;
    text-align: center;
}

#popupContent {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
}

#glog {
    display: grid;
    position: absolute;
    margin: auto;
    justify-self: center;
}

#prodNummer {
    position: absolute;
    transform: translate(220%, -380%);
    font-size: x-large;
    background-color: rgb(0, 88, 163);
    color: white;
    border-radius: 35px;
    width: 25px;
    text-align: center;
}

body {
    border: 3px solid black;
    border-radius: 30px;

}

html {
    max-width: 380px;
    margin: 0 auto;
}

#prodinfocss {
    grid-column: 1/ 3;
    margin-bottom: -100px;
}

#underline{
    text-decoration: underline;
}